<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Matrimol SAS | Planilla de pulido - Jefe de planta</title>
    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />



    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <script src="../assets/vendor/js/helpers.js"></script>

    <script src="../assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="content-wrapper">
      <!-- Content -->
      <div class="container-xxl flex-grow-1 container-p-y">
       <a href="PanelJefePlanta.html" class="btn btn-danger" id="btnvolver"><i class='bx bxs-caret-left-circle bx-burst-hover bx-md'></i> Volver</a> 
       <hr>
       <h4 class="fw-bold py-3 mb-4">CONTROL DE PRODUCCION DE PULIDO - <span id="titleAisladores"></span></h4>
   
       <div class="row col-md-12 mx-0" id="formdetalles">
          
        <div class="col shadow m-2 mt-4 text-center card" style="padding:20px; border-radius: 5px;" id="cantFabric"> 
          <p>Cantidad a pulir</p>
          <h1>0</h1>
     </div> 
        
          <div class="col shadow m-2 mt-4 text-center card" style="padding:20px; border-radius: 5px;" id="cantAsignada"> 
              <p>Cantidad asignada</p>
              <h1>0</h1>
         </div>    


         <div class="col shadow m-2 mt-4 text-center card" style="padding:20px; border-radius: 5px;" id="cantPendiente">
          <p>Cantidad pendiente por asignar</p>
         <h1>0</h1>
       </div>      

    </div>
        <div class="row">
          <div class="col-md-12">   
            <div class="card mb-4">
              <!-- Account -->
              <hr class="my-0" />
              <div class="card-body d-none" id="planillaasignacion">
                <form id="formAccountSettings" class="" action="#">
                  <div class="row">
                    <div class="mb-3 col-md-4">
                        <input
                          class="form-control"
                          type="text"
                          id="idclient"
                          class="idclient"
                          hidden    
                        />

                        <input
                        class="form-control"
                        type="text"
                        id="siglasCP"
                        hidden
                      />
                      <input type="text" id="usoemergente" hidden>


                        <input
                          class="form-control"
                          type="text"
                          id="codigoCP"
                          hidden
                        />

                        <input
                        class="form-control"
                        type="text"
                        id="numinitCP"
                        class="numinit"
                        hidden
                        />

                        <input
                        class="form-control"
                        type="text"
                        id="numordenproduccion"
                        class="numordenproduccion"
                        hidden
                        />

                      <label class="form-label" for="operador">Operador responsable(*)</label>
                      <input type="text" id="idOperador" hidden>
                      <div class="input-group">
                        <button class="btn btn-outline-primary"   data-bs-toggle="modal"
                        data-bs-target="#modalSearchOperador" type="button">Buscar</button>
                        <input
                          type="text"
                          class="form-control"
                          id="operador"
                          placeholder=""
                          readonly/>
                      </div>  
                      <p class="text-danger d-none" id="messageOperador">Este campo es totalmente obligatorio!</p>     
                    </div> 

                  <!--Producto desactivado-->  

                  <!--  <div class="mb-3 col-md-4">
                      <label class="form-label" for="producto">Producto(*)</label>
                      <input type="text" id="idProducto" hidden>
                      <div class="input-group">
                        <button class="btn btn-outline-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#modalSearchArticle" 
                          type="button" 
                           >Buscar
                        </button>

                        <input
                          type="text"
                          class="form-control"
                          id="producto"
                          readonly
                        />
                      </div>
                    </div> -->
               
                    <!--MAQUINARIA DESACTIVADA-->
              <!--      <div class="mb-3 col-md-4">
                      <label class="form-label" for="maquinaria">Maquinaria(*)</label>
                      <input type="text" id="idMaquinaria" hidden>
                      <div class="input-group">
                        <button class="btn btn-outline-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#modalSearchMaquinaria" 
                          type="button" 
                          id="button-addon1">Buscar
                        </button>

                        <input
                          type="text"
                          class="form-control"
                          id="maquinaria"
                          readonly
                        />
                      </div>
                      <p class="text-danger d-none" id="messageMaquinaria">Este campo es totalmente obligatorio!</p>     

                    </div> -->

                   
                    <div class="mb-3 col-md-4">
                      <label class="form-label" for="maquinaria">Asignar cantidad</label>
                      <div class="input-group">
                        <input
                          type="number"
                          class="form-control"
                          id="asigcantidad"
                        />
                      </div>
                      <p class="text-danger d-none" id="messageCantidad">Este campo es totalmente obligatorio!</p>     

                    </div>  
                  <hr>

                  <div class="mt-2">
                    <button 
                     type="submit" 
                     id="btnRegister" 
                     class="btn btn-primary me-2"
                     disabled="disabled"
                     >
                     Enviar
                    </button>

                    <button 
                     type="reset" 
                     id="btnCancelar" 
                     class="btn btn-outline-secondary">
                     Cancelar
                    </button>
                  </div>
                </form>
              </div>


               
                      <!--Modal Buscar Operador-->
      <div class="modal fade" id="modalSearchOperador" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-lg " role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalScrollableTitle">BUSCAR OPERADOR</h5>

                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>

                            </div>
                            <div class="modal-body">
                              <div class="input-group input-group-merge">
                                <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                                <input
                                  type="text"
                                  id="buscador"
                                  class="form-control"
                                  placeholder="Search..."
                                  aria-label="Search..."
                                  aria-describedby="basic-addon-search31"
                                />
                              </div>
                            
                              <hr>

                              <div class="card">
                                <div class="table-responsive text-nowrap">
                                  <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>Nº</th>
                                        <th>ALIAS</th>
                                        <th>NOMBRE</th>
                                        <th>APELLIDO</th>
                                        <th>ACCION</th>
                                      </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0" id="myoperadores">
                                      
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              
                       
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Cancelar
                              </button>
                  
                            </div>
                          </div>
                        </div>
         </div>

                   <!--Modal Buscar maquinaria-->
      <div class="modal fade" id="modalSearchMaquinaria" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable " role="document">
                             <div class="modal-content">
                                   <div class="modal-header">
                           <h5 class="modal-title" id="modalScrollableTitle">BUSCAR MAQUINARIA</h5>
                                <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                                ></button>
                             </div>

                          <div class="modal-body">
                           <div class="input-group input-group-merge">
                            <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                                  <input
                                    type="text"
                                    id="buscador"
                                    class="form-control"
                                    placeholder="Search..."
                                    aria-label="Search..."
                                    aria-describedby="basic-addon-search31"/>
                                </div>
                                <hr>
                      
                             <div class="card">
                               <div class="table-responsive text-nowrap">
                                 <table class="table table-hover">
                                 <thead>
                                  <tr>
                                    <th>N</th>
                                    <th>DESCRIPCION</th>
                                    <th>ALIAS</th>
                                    <th>ACCION</th>
                                  </tr>
                                </thead>
                           <tbody class="table-border-bottom-0" id="mymaquinaria"></tbody>
                               </table>
                                 </div>
                                  </div>
                                   </div>
                                    <div class="modal-footer">
                                     <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                       Cancelar
                                      </button>
                                      </div>
                                       </div>
                                       </div>
      </div>
                      
     <!--Modal Buscar Articulos-->
       <div class="modal fade" id="modalSearchArticle" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable " role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalScrollableTitle">BUSCAR PRODUCTO/REFERENCIA</h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>

                            </div>
                            <div class="modal-body">
                              <div class="input-group input-group-merge">
                                <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                                <input
                                  type="text"
                                  id="buscador"
                                  class="form-control"
                                  placeholder="Search..."
                                  aria-label="Search..."
                                  aria-describedby="basic-addon-search31"
                                />
                              </div>
                            
                              <hr>

                              <div class="card">
                                <div class="table-responsive text-nowrap">
                                  <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>N</th>
                                        <th>REFERENCIA</th>
                                        <th>DESCRIPCION</th>
                                        <th>ACCION</th>
                                      </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0" id="myArticles"></tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Cancelar
                              </button>
                            </div>
                          </div>
                        </div>
          </div>



  </div>
 </div>
   <h4 class="fw-bold py-3 mb-2 col-md-6">OPERADORES QUE PARTICIPAN EN EL PROCESO</h4>
 
 <button class="btn btn-success mb-3" id="btnAsignar">Asignar tarea <i class='bx bx-message-square-add bx-sm'></i></button>
 <a href="#" class="btn btn-primary mb-3" id="btnOrdenes" data-bs-toggle="modal"
 data-bs-target="#modalOrdenes" >Ver ordenes de produccion <i class='bx bx-show bx-sm'></i></a>
 <a href="#" class="btn btn-warning mb-3" id="btncreateorden" data-bs-toggle="modal" data-bs-target="#fullscreenModal" >Ver pendientes por entregar <i class='bx bx-export bx-sm bx-fade-up-hover'></i></a>

<div class="card">
      <div class="table-responsive text-nowrap">
           <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nº</th>
                    <th>Alias</th>
                    <th>Operador(a)</th>
                    <th>Asignados</th>
                    <th>Pulidos</th>
                    <th>Proceso</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="myoperadoresaisladores">
                  <!--Aqui se renderizada la tabla llena en caso de tener datos-->
                </tbody>
              </table>
            </div>
          </div>
        </div>


       <!--Modal Buscar ordenes-->
       <div class="modal fade" id="modalOrdenes" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
             <div class="modal-content">
                   <div class="modal-header">
           <h5 class="modal-title" id="modalScrollableTitle">ORDENES DETALLADAS</h5>
                <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                ></button>
             </div>

          <div class="modal-body">
       
             <button class="btn btn-outline-primary mb-4 active" id="buttoncomun">Comunes</button>
             <button class="btn btn-outline-success mb-4" id="buttonespecial">Especiales</button>

             <div class="card">
               <div class="table-responsive text-nowrap comunes">
                 <table class="table table-hover">
                 <thead>
                  <tr>
                    <th>N</th>
                    <th>CODIGO</th>
                    <th>CLIENTE</th>
                    <th>CANTIDAD</th>
                    <th>PROGRAMADO POR</th>
                    <th>FECHA ENTREGA</th>
                  </tr>
                </thead>
           <tbody class="table-border-bottom-0" id="myordendetalladas"></tbody>
               </table>
                 </div>


                 <div class="table-responsive text-nowrap especiales d-none">
                  <table class="table table-hover">
                  <thead>
                   <tr>
                     <th>N</th>
                     <th>CODIGO</th>
                     <th>CLIENTE</th>
                     <th>CANTIDAD</th>
                     <th>PROGRAMADO POR</th>
                     <th>CREADA</th>
                   </tr>
                 </thead>
            <tbody class="table-border-bottom-0" id="myordenespeciales"></tbody>
                </table>
                  </div>
                  </div>
                   </div>
                    <div class="modal-footer">
                     <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                       Cancelar
                      </button>
                      </div>
                       </div>
                       </div>


                       
   
</div>

   <!--Modal para asignar cantidad al operador-->
   <div class="modal fade" id="modalAsignar" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="modalScrollableTitle">AGREGAR CANTIDAD</h5>

                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <hr>

              <div class="modal-body">
                <form id="form" action="#">
                  <div class="row">                                
                    <input type="text" id="modalid" hidden></input>
                    
                    <div class="mb-3 col-md-6">
                      <label for="modalproducto" class="form-label">Producto</label>
                      <input
                        class="form-control"
                        type="text"
                        id="modalproducto"
                        readonly
                      />
                    </div>
                
                    <div class="mb-3 col-md-6">
                      <label for="modalreferencia" class="form-label">Referencia</label>
                      <input
                        class="form-control"
                        type="text"
                        id="modalreferencia"
                        readonly
                      />
                    </div>

                    <div class="mb-3 col-md-6">
                      <label for="modalcantidad" class="form-label">Cantidad pendiente por asignar</label>
                      <input
                        class="form-control"
                        type="number"
                        id="modalcantidad"
                        readonly
                      />
                    </div>

                 
                    <div class="mb-3 col-md-6">
                      <label for="modalcantidadAumentar" class="form-label">Cantidad agregada</label>
                      <input
                        class="form-control"
                        type="number"
                        id="modalcantidaAumentar"
                        placeholder="Digite una cantidad"
                      />
                      <p  class="text-danger validarcantidad"></p>
                    </div>


                 
                  </div>
                </form>
                    <button type="submit" disabled='disabled' class="btn btn-primary btnnuevacantidad" data-bs-dismiss="modal">Enviar</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  Cerrar
                </button>
              </div>
            </div>
          </div>
</div>

<!--Modal entregas historial-->
<div class="modal fade" id="fullscreenModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="card">
        <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <thead class="bg-success">
              <tr>
                <th class="text-white">Nº</th>
                <th class="text-white">Orden Produccion</th>
                <th class="text-white">Cliente</th>
                <th class="text-white">Solicitados</th>
                <th class="text-white">Entregados</th>
                <th class="text-white">Pendientes</th>
                <th class="text-white">Fecha programada</th>
                <th class="text-white">Action</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0" id="myordenpendientes">
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal revisiones-->
<div class="modal fade" id="modalRevisionJefePlanta" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="modalScrollableTitle">REVISION JEFE DE PLANTA</h5>

              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <hr>

            <div class="modal-body">
              <form id="form" action="#" class="form-corriente">
                <div class="row">                                
                  <input type="text" id="idrevision" hidden ></input>
                  
                  <div class="mb-3 col-md-6">
                    <label for="modalproducto" class="form-label">Producto</label>
                    <input
                      class="form-control"
                      type="text"
                      id="revisionproducto"
                      readonly
                    />
                  </div>
              
                  <div class="mb-3 col-md-6">
                    <label for="modalreferencia" class="form-label">Referencia</label>
                    <input
                      class="form-control"
                      type="text"
                      id="revisionreferencia"
                      readonly
                    />
                  </div>

                  <div class="mb-3 col-md-6">
                    <label class="form-label">TOTAL CONFORMES - <span>(OPERADOR)</span></label>
                    <input
                      class="form-control"
                      type="number"
                      id="operadorconformes"
                      readonly
                    />

                    <input
                    class="form-control"
                    type="number"
                    id="operadorsi"
                    hidden
                  />
                  </div>

                  <div class="mb-3 col-md-6">
                    <label class="form-label">TOTAL NO CONFORMES - <span>(OPERADOR)</span></label>

                    <input
                    class="form-control"
                    type="number"
                    id="operadorno"
                    hidden
                  />
                      <input
                      class="form-control"
                      type="number"
                      id="operadornoconformes"
                      readonly
                    />
                  </div>

                
               
                </div>
                <button type="submit" class="btn btn-success btnRevisar mt-3">Revisar</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                Cerrar
              </button>
            </div>
          </div>
        </div>
</div>
        
<!--Modal entregas a despacho-->
<div class="modal fade" id="Entregas" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h3 class="text-primary">ENTREGAS PLANTA A DESPACHO</h3>
        <hr>
        <form id="form" action="#">
          <div class="row">
            <input type="text" id="codigoOrdenEntrega" hidden>
            <input type="text" id="siglasOrden" hidden>
            <input type="text" id="numeroEntrega" hidden>

            <div class="mb-3 col-md-6">
             <label for="codigoordenproduccion" class="form-label">Orden produccion</label>
                <input type="text" id="idordenproduccion" hidden>
               <input
                 type="text"
                 class="form-control text-danger"
                 id="codigoordenproduccion"
                 style="font-size: 20px;"
                 readonly
               />
          
           </div>

            <div class="mb-3 col-md-6">
             <label for="clienteentrega" class="form-label">Cliente</label>
             <div class="input-group">
           
               <input
                 type="text"
                 class="form-control"
                 placeholder=""
                 id="clienteentrega"
                 style="font-size: 20px;"
                 readonly
               />
             </div>
           </div>

          <div class="mb-3 col-md-6">
              <label for="productoentrega" class="form-label">Producto</label>
              <div class="input-group">
            
                <input
                  type="text"
                  class="form-control producto"
                  placeholder=""
                  id="productoentrega"
                  style="font-size: 20px;"
                  readonly
                  />
              </div>
            </div>

            <div class="mb-3 col-md-6">
              <label for="referencia" class="form-label">Referencia</label>
              <input
                class="form-control"
                type="text"
                id="referenceentrega"
                placeholder="Reference"
                style="font-size: 20px;"
                readonly

              />
            </div>

            <div class="mb-3 col-md-6">
              <label for="dato" class="form-label">Pendiente por entregar</label>
              <input
                class="form-control"
                type="number"
                id="cantidadsolicitadaentrega"
                required
                style="font-size: 20px;"
                readonly

              />
            </div>

            <div class="mb-3 col-md-6">
              <label for="dato" class="form-label">Cantidad a entregar</label>
              <input
                class="form-control"
                type="number"
                id="cantidadentregarentrega"
                value="0"
                placeholder="0"
                required
                style="font-size: 20px;"

              />
            </div>

           
            <div class="mb-3 col-md-12">
              <label for="observacion" class="form-label">Observacion</label>
              <textarea
                class="form-control"
                id="observacionentrega"   
                style="font-size: 20px;"
        
              ></textarea>
            </div>
            <button class="btn btn-primary col-md-2" style="margin: 8px;" id="btnRealizarEntrega"    data-bs-dismiss="modal"
            aria-label="Close">Realizar entrega</button>
          </div>
        </form>            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
      </div>
      <div class="content-backdrop fade"></div>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <script src="./js/Controllers/controlPulidoJefe/planilla-control-pulido.js"></script>
    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>
  </body>
</html>
