<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Matrimol SAS | Tareas operadores</title>
    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <script src="../assets/vendor/js/helpers.js"></script>
    <script src="../assets/js/config.js"></script>
  </head>

  <body>

        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row col-md-12">
            <div class="col-md-4"><a  href='index.html' class="btn btn-danger"><i class='bx bxs-caret-left-circle bx-burst-hover bx-md'></i> Atras</a>
            </div>
            <div class="col-md-6 mt-2">
              <button class="btn btn-outline-success shadow-lg" style="margin-right: 10px;" id="btnBujes">Bujes <i class='bx bxs-shapes bx-border-circle'></i></button>
              <button class="btn btn-outline-primary shadow-lg active" style="margin-right: 10px;" id="btnAisladores">Aisladores <i class='bx bx-font-size bx-border-circle'></i></button>
            <button class="btn btn-outline-warning shadow-lg" id="btnPulido">Pulido <i class='bx bxs-award bx-border-circle' ></i></button>
            </div>
            
          </div>
          <hr>  
      
            <div class=" row col-md-12" id="mycontrol"></div>
            <div class=" row col-md-12 d-none" id="mypulido"></div>
            <div class=" row col-md-12 d-none" id="mybuje"></div>
      
            </div>


  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>

 

    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../assets/vendor/js/menu.js"></script>
    <script src="./js/Controllers/panelReferenciasPlanta/panel-referencias-planta.js"></script>
    <script src="../assets/js/main.js"></script>

  </body>
</html>
