<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Matrimol SAS | MATERIA PRIMA</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />



    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    
    <script src="../assets/js/config.js"></script>
  </head>

  <body>

            <div class="container-xxl flex-grow-1 container-p-y">
              <a href="tables-materia-prima.html" class="btn btn-danger" id="btnvolver"><i class='bx bxs-caret-left-circle bx-burst-hover bx-md'></i> Volver</a> 
            
              <h4 class="fw-bold py-3 mb-4">MATERIA PRIMA - NUEVA</h4>

              <div class="row">
                <div class="col-md-12">
               
                  <div class="card mb-4">
                    <!-- Account -->
                 
                    <div class="card-body">
                      <form id="formAccountSettings" action="#">
                        <div class="row">
                          <div class="mb-3 col-md-4">   
                          <label class="form-label" for="cliente">Producto</label>
                          <div class="input-group">
                  
                          <input type="text" 
                          class="form-control" 
                          id="componente"
                          aria-label="Text input with dropdown button"
                          />
                          <p id="validarComponente" class="text-danger"></p>

                        </div>
                        </div> 

                          <div class="mb-3 col-md-4">
                            <label for="referencia" class="form-label">Referencia</label>
                            <input
                              class="form-control"
                              type="text"
                              id="referencia"
                              placeholder="Referencia"
                            />
                            <p id="validarReferencia" class="text-danger"></p>

                          </div>


                          <div class="mb-3 col-md-4">
                            <label for="molde" class="form-label">Parametro</label>
                            <select id="parametro" class="form-select">
                              <option value="----">Seleccionar</option>
                              <option value="KILOS">Kilos</option>
                              <option value="PULGADAS">Pulgadas</option>
                              <option value="MILIMETRICO">Milimetrico</option>
                              <option value="LITROS">Litros</option>  
                              <option value="METROS">Metros</option>
                              <option value="CENTIMETROS">Centimetros</option>
                              <option value="UNIDAD">Unidad</option>
                            </select>
                            <p id="validarParametro" class="text-danger"></p>
                          </div> 
                
                        </div>

                        <div class="mt-2">
                          <button 
                           type="submit" 
                           id="btnGuardar" 
                           class="btn btn-primary me-2">
                           Enviar
                          </button>

                          <button 
                           type="reset" 
                           id="btnCancelar" 
                           class="btn btn-outline-secondary">
                           Cancelar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                                    <!--Modal Buscar productos-->
       <div class="modal fade" id="modalSearchCompuesto" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg " role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalScrollableTitle">BUSCAR PRODUCTO</h5>

              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>

            </div>
            <div class="modal-body">
              <div class="input-group input-group-merge">
                <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                <input
                  type="text"
                  id="searchproduct"
                  class="form-control"
                  placeholder="Search..."
                  aria-label="Search..."
                  aria-describedby="basic-addon-search31"
                />
              </div>
            
              <hr>
              

              <div class="card">
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>REFERENCIA</th>
                        <th>DESCRIPCION</th>
                        <th>UNIDAD</th>
                        <th>ACCION</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" id="mysarticlescompuestos">
                      
                    </tbody>
                  </table>
                </div>
              </div>
              
       
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                Atras
              </button>
  
            </div>
          </div>
        </div>

      </div>
              </div>
            </div>
          <div class="content-backdrop fade"></div>
        </div>
      </div>
    </div>
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>

    <script src="../assets/js/main.js"></script>
    
       <!--Controlador de datos JS -->
       <script src="./js/Controllers/materiaprima/materia-prima-add.js"></script>

  </body>
</html>
